.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.logo-img {
    background-image: url("./assets/ham-logo.png");
    width: 100px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu-container {
    display: flex;
    justify-content: center;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list li {
    padding: 10px;
}