body {
  background-image: url("https://st4.depositphotos.com/24735048/27230/i/450/depositphotos_272301072-stock-photo-summer-background-wonderful-sunny-sky.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 15px;
}